#search-pokemon{
    width: 50%;
    padding: 2rem;
   margin-top: 1rem;
}

.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.pokedex-wrapper h1{
    letter-spacing: 10px;
}