.pokemon-wrapper{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.pokemon{
    flex-basis:30% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 400px;
    margin-top: 4rem;
    border: 1px solid black ;
    background-color: bisque;
}
.pokemon-image{
    max-height:50% ;
    min-height: 180px;
    transition: transform 1s ease-in-out;
 max-width: 60%;
     object-fit: contain;
     display: block;
     cursor: pointer;
}

.pokemon-name{
    letter-spacing: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}
.pokemon:hover{
    background-color:burlywood ;
}
.pokemon-image:hover{
    // background-color:burlywood ;
 transform: scale(1.2) translatex(30px) translateY(30px) ;
}