.pokemon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;



}




.page-controls button{
border: none;
height: 35px;
width: 100px;
background-color: brown;
margin-left: 2rem;
padding: 20px auto ;
border-radius: 2px;
}


.page-controls button:hover{
    background-color: chocolate;
    
}