.search-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
#search-pokemon {
    width: 50%;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px ;
}